body {
    background: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: #441151;
    text-align: center;
}

h1:hover {
    color: #1F271B;
}

p {
    /* adds 1 unit of spacing after each paragraph */
    margin-bottom: 10em;
}    

.plans {
    text-align: center;
    padding: 20px;
}
